/* For Mobile */
@media screen and (max-width: 540px) {
    html {
        font-size: 0.4em;
    }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
    html {
        font-size: 0.7em;
    }
}

/* start commons helpers styles*/
.left{
    float: left;
}
.right{
    float: right;
}
.middle{
    margin: auto;
}
/* start login page */
.loginPagePanel {
    text-align: center;
    width: 27em;
    border: 1px solid dodgerblue;
    margin: 2% auto auto;
}
.loginPagePanel input{
    margin-bottom: 0.3em;
}
.signUpPanel .styledSpan{
    margin-bottom: 0.3em;
}
.ui-panel.loginPagePanel .ui-panel-footer {
    text-align: center;
}
/* start sign-up styles*/
.signUpPanel {
    width: 36em;
}
.loginPagePanel .ui-panel-content{
    display: grid;
    grid-template-columns: 80px 18em;
}
/* start header */
.ui-menu .ui-menuitem{
    float: right;
    margin: 0px 0.45em;
}
.ui-menu {
    padding: 0.2em 0.4em 0.2em 0;
    margin-bottom: 0.36em;

}
.ui-menu .ui-menuitem-link{
    color: #1b86b7;
    border: solid 1px #2189b8;
}
.ui-menu .donatBtn {
    background-color: #e3ef08;
}

/* start footer */
#footer .bottombar {
    background: #097cb0;
    width: 100%;
    line-height: 2.1;
    color: #ccc;
    font-size: .875em;
    margin-top: 18px;
}
#footer a {
    color: #00f1ff;
}
.footerCpyRtCnt{
    overflow: auto;
    width: 41em;
    margin: auto;
}
/* start donation styles*/
.grid{
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 180px;
    justify-content: center;
}

.grid img{
    max-width:100%;
    max-height:100%;
}

.grid .addressImg.ether{
    padding: 1em
}
.cryptoAddress {
    display: block;
    margin-top: 2em;
}
.donateUpdate{
    text-align: center;
    margin-bottom: 3em;
}
/* start index page */
.ordersWrapper{
    display: grid;
    grid-template-columns: 50% 50%;
}
.sellOrderBook {
    margin-right: 1em;
}
.ui-widget {
    font-size: 0.8em;
}
/* START profits table styles */
.profitsTableWrapper {
    width: 90%;
    margin: auto;
    margin-bottom: 0.9em;
}
/* START main table stylesheet */
.forkTableFilters{
    width: 53em;
    margin: auto auto 0.3em;
}
.forksTable td:nth-child(1),
.forksTable th:nth-child(1){
    width: 2em;
}
.forksTable td:nth-child(2),
.forksTable th:nth-child(2){
    width: 7em;
}
.forksTable td:nth-child(3),
.forksTable th:nth-child(3){
    width: 12em;
}
.forksTable td:nth-child(4),
.forksTable th:nth-child(4){
    width: 12em;
}

.notActiveWallet{
    background-color: #A09BE7;
    background-image: none;
}
.lieProfitByGlasses{
    background-color: #eff138a6;
    background-image: none;
}
.publicVisible{
    border: solid 2px rgba(231, 120, 241, 0.65);
    background-image: none;
}
/* START notifications page*/
.newNotificationWrapper{
    margin: auto;
    width: 64em;
}

.newNotificationWrapper .ui-panel-content.ui-widget-content{

}
.ui-panel.newNotificationWrapper .ui-panel-footer {
    text-align: center;
}
.forkFilterSelect {
    margin-right: 1em;
    display: inline-block;
    vertical-align: middle;
}
.forkFilterSelectLabel {
    display: inline-block;
    vertical-align: middle;
}
.filtersTable{
    margin: 1em auto 0;
    width: 70em;
}
.prime-vert-middle{
    vertical-align: middle;
}