<?xml version="1.0" encoding="UTF-8"?>


	<configuration>

		<!-- Standard console appender for checking activity (short on detail) -->
		<appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
			<!-- Simplified standard logging encoder -->
			<encoder>
				<pattern>%d{HH:mm:ss.SSS} [%contextName] [%thread] %-5level %logger{36} - %msg %xEx%n</pattern>
			</encoder>
		</appender>

		<appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${java.io.tmpdir}/hucksterProcesslog.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<FileNamePattern>${java.io.tmpdir}/logs/processlog.%d{yyyy-MM-dd}.log</FileNamePattern>
			</rollingPolicy>
			<encoder>
				<pattern>%date{HH:mm:ss.SSS} %-5p [%t] %c{1} - %m%n</pattern>
			</encoder>
			<append>true</append>
		</appender>

		<root level="info">
			<appender-ref ref="CONSOLE_APPENDER"/>
			<appender-ref ref="ROLLING_FILE"/>
		</root>


		<!-- Define logging for organization applications only -->
		<logger name="org.knowm.xchange" level="INFO"  additivity="false">
			<appender-ref ref="CONSOLE_APPENDER"/>
			<appender-ref ref="ROLLING_FILE"/>
		</logger>
		<!--<logger name="si.mazi.rescu" level="TRACE"/>-->

		<logger name="ru.fedrbodr.exchangearbitr.services.impl" level="DEBUG" additivity="false">
			<appender-ref ref="CONSOLE_APPENDER"/>
			<appender-ref ref="ROLLING_FILE"/>
		</logger>

		<logger name="ru.fedrbodr.exchangearbitr" level="INFO" additivity="false">
			<appender-ref ref="CONSOLE_APPENDER"/>
			<appender-ref ref="ROLLING_FILE"/>
		</logger>

	<logger name="si.mazi.rescu" level="INFO" additivity="false"/>


	</configuration>


